<div class="post">
	<div class="columns">
		<div class="column">
			{% include '_postview.html' %}
		</div>
	</div>
	<a href="{{ url_for('main.delete', id=post.id) }}">
		<span class="label label-error">消去</span>
	</a>

	{% if post.memo %}
	<div class="popover popover-right">
		<span class="label label-success">メモ</span>
		<div class="popover-container">
			<div class="card">
				<div class="card-header">{{ post.memo.tag }}</div>
				<div class="card-body">{{ post.memo.body }}</div>
				<div class="card-footer">
					<a href="{{ url_for('main.edit_memo', _id=post.id) }}">
						<span class="label label-primary">編集</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if not post.memo %}
	<a href="{{ url_for('main.create_memo', _id=post.id) }}">
		<span class="label ">メモをつける</span>
	</a>
	{% endif %}

	
</div>

