<div class="post">
	<div class="columns">
		<div class="column">
			<h3>{{ post.title }}</h3>
			<p>{{ post.content|replace('\r\n', '<br>')|safe }}</p>
			<div class="post-date">
				<p>{{ post.created_at }}</p>
			</div>
		</div>
	</div>
	<a href="{{ url_for('main.delete', id=post.id) }}">
		<button class="btn btn-primary bg-dark">Delete</button>
	</a>

	{% if post.memo %}
	<!-- <a href="{{ url_for('main.create_memo', _id=post.id) }}"> -->
	<!-- </a> -->
	<div class="popover popover-right">
		<button class="btn btn-primary bg-warning">View Memo</button>
		<div class="popover-container">
			<div class="card">
				<div class="card-header">{{ post.memo.tag }}</div>
				<div class="card-body">{{ post.memo.body|replace('\r\n', '<br>')|safe }}</div>
				<div class="card-footer">
					<a href="{{ url_for('main.edit_memo', _id=post.id) }}">
						<button class="btn btn-primary">Edit Memo</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if not post.memo %}
	<a href="{{ url_for('main.create_memo', _id=post.id) }}">
		<button class="btn btn-primary bg-warning">Create Memo</button>
	</a>
	{% endif %}

	
</div>

