{% extends "layout.html" %}


{% block page_content %}
		{% include "_postview.html" %}
	<form class="form-horizontal" action="#" method="POST">
		{{ form.csrf_token }}
		<div class="form-group">
			<div class="col-2">
				{{ form.tag.label(class_="form-label") }}
			</div>
			<div class="col-8">
				{{ form.tag(class="form-input", placeholder="Title") }}
				{% if form.tag.errors %}
				<ul>
					{% for error in form.tag.errors %}
					<li class="text-error">{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		<div class="form-group">
			<div class="col-2">
				{{ form.body.label(class_="form-label") }}
			</div>
			<div class="col-8">
				{{ form.body(class_="form-input", rows='10',  placeholder="Content") }}
				{% if form.body.errors %}
				<ul>
					{% for error in form.body.errors %}
					<li class="text-error">{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		<div class="form-group">
			<div class="col-2"></div>
			<div class="col-8"> {{ form.submit(class_="btn btn-primary") }} </div>
		</div>
	</form>
<div class="columns">
	<div class="column col-8">
	</div>
	<!-- <div class="column col-4"> -->
		




	<!-- </div> -->
</div>
{% endblock %}

