<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MEMO</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/icon">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	<style>
		.content {
			margin-top:50px;
			margin-bottom:10px;
			margin-right:10px;
			margin-left:10px;
		}
		.post {
			margin-bottom:80px;
		}
		.post-date {
			text-align:right;
		}
		.btn.btn-orange {
			background-color:#ffb700;
		}
		.post-title {
			text-align:center;
			margin-top:25px;
			margin-bottom:25px;
		}
		.flash-area {
			margin-top:10px;
			margin-bottom:10px;
		}
		.nav {
			padding: 10px;
		}
		.post-body {
			width: 90%;
			margin:auto;
		}
	</style>
</head>
<body>
<div class="content">
	<div class="container grid-lg">
		<div class=" off-canvas">
			<div class="off-canvas-sidebar">
				<ul class="nav">
					<li class="nav-item">
						<a href="{{ url_for('main.index') }}">
							<span class="icon icon-apps"></span>
							ホーム
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('main.add') }}">
							<span class="icon icon-plus"></span>
							ポスト追加
						</a>
					</li>
				</ul>
			</div>
			<div class="off-canvas-content">
				<div class="columns">
					<div class="column col-11 col-mx-auto">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
							<div class="toast flash-area">{{ message }} </div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% block page_content %}
					{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>

